body {
  background-color: violet;
  font-family: "Playwrite CU", cursive;
}
a {
  color: white;
}

.weather-app {
  background: purple;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
/*header*/
header {
  border-bottom: 1px solid rgb(214, 22, 214);
  padding: 0 0 34px 0;
}
.search-form-input {
  background-color: rgb(214, 22, 214);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background: violet;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
/*main*/
main {
  padding: 30px 0;
}

/*weather-app-data*/
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
/*weather-app-city*/
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
/*weather-app-details*/
.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: white;
  font-weight: 500;
}
/*weather-app-details-strong*/
.weather-app-details strong {
  color: white;
}
/*weather-app-icon*/
.weather-app-icon {
  margin-top: 22px;
}
/*weather-app-temperature-container*/
.weather-app-temperature-container {
  display: flex;
}
/*weather-app-temperature*/
.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
}
/*weather-forecast-date*/
.weather-forecast-date {
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 20px;
}
/*weather-forecast-icon*/
.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
/*weather-forecast-temperatures*/
.weather-forecast-temperatures {
  text-align: center;
  color: black;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
/*weather-forecast-temperature*/
.weather-forecast-temperature {
  padding: 0 10px;
}
/*weather-app-unit*/
.weather-app-unit {
  margin-top: 16px;
  font-size: 28px;
}
/*weather-forecast*/
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
/*weather-forecast-date*/
.weather-forecast-date {
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}

/*footer*/
footer {
  border-top: 1px solid rgb(214, 22, 214);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
